a {
    text-decoration: none!important;
    color: black;
}

a:hover {
    color: #138496;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px #148D8D inset;
    -webkit-text-fill-color: white !important;
}

body {
    background-color: #F6F6F6;
}

.card-header {
    background-color: #C7935B;
    color: white;
}

.cardRenkleri .card-header a {
    color: white;
}

.cardRenkleri .card-header a:hover {
    color: #333333;
}

.cardRenkleri .card-footer {
    background-color: white;
    color: black;
}

#reviewButton,
#quoteButton {
    font-size: 1.2rem;
}


/*
.cardRenkleri .card-body {
    background-color: #C5C6C8;
    color: black;
}



.cardRenkleri .card-footer a {
    color: white;
}

.cardRenkleri .card-footer span {
    color: white;
}

.cardRenkleri .card-footer a:hover {
    color: #C5C6C8;
}
*/

.profileInfo {
    position: fixed;
    top: 170px;
}

.profileList {
    list-style: none;
}

.profileList li {
    margin-bottom: 20px;
}

.profileList li a {
    font-size: 1.4rem;
}

.titleName {
    font-size: 1.8rem;
}

.backtotop {
    position: fixed;
    bottom: 20px;
    right: 40px;
    font-size: 30px;
    background-color: #148D8D;
    color: #F6F6F6;
    padding: 0px 9px 0px 9px;
    border-radius: 50px;
    display: none;
}


/*  
=============================================================================================================================================================
=========================================================================  NAVBAR  ==========================================================================
=============================================================================================================================================================
*/

.navbar {
    background-color: white!important;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar .container {
    width: 80%;
    max-width: 1400px;
}

.navbar .container div.parts {
    display: flex;
    flex-direction: row;
}

.part1 {
    width: 15%;
    align-items: center;
}

.part2 {
    width: 55%;
}

.part2 .searchDiv {
    width: 100%;
}

.part2 .searchDiv .searchInput {
    width: 85%;
    border-radius: 15px;
    border: 1px solid #CBCBCB;
}

.part2 .searchDiv .searchInput:focus {
    outline: none;
    border: 1px solid #FE5722;
}

.part2 .searchDiv .searchButton {
    border-radius: 15px;
    padding: 3px 14px 3px 14px;
    background-color: transparent;
    border: 1px solid #FE5722;
    color: #FE5722;
    transition: all .25s ease-in-out;
}

.part2 .searchDiv .searchButton:hover {
    background-color: #FE5722;
    color: white;
    border: 1px solid transparent;
}

.part3 {
    justify-self: flex-end;
    justify-content: flex-end;
    width: 30%;
}

.part3 a.nav-link:hover {
    color: #148D8D;
}

.profileBox {
    position: relative;
    padding: 0 1rem;
    z-index: 555;
}

.profileBox .profileText:hover {
    color: #FE5722!important;
    cursor: pointer;
}

#navbarCollapse {
    transition: all .25s ease;
    font-size: 18px;
}

#navbarCollapse:hover {
    color: #FE5722;
    cursor: pointer;
}

.rotate180deg {
    transform: rotate(180deg);
}

.profileExtension {
    position: absolute;
    display: none;
    top: 55px;
    left: -20px;
    width: 170px;
    transition: all .2s ease;
}

.profileExtension ul {
    padding-inline-start: 0px;
    margin: 0;
    list-style: none;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.profileExtension ul li {
    text-align: left;
    color: black;
    margin: 0;
    padding: 10px 35px 10px 35px;
}

.profileExtension ul li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.profileExtension ul li a:hover {
    color: #148D8D;
}


/*  
=============================================================================================================================================================
============================================================== LOGIN and Register  ==========================================================================
=============================================================================================================================================================
*/

.container2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.container2 .display-4 {
    margin-left: 150px;
}

.con-input {
    display: flex;
    background-color: #148D8D;
    align-items: center;
    padding: 5px 10px;
    border-radius: 12px;
    position: relative;
    width: 350px;
    margin-top: 25px;
    margin-left: 150px;
    outline: 1px solid white;
}

.con-input input {
    height: 40px;
    border: 0px;
    background-color: transparent;
    outline: none;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 8px;
    width: 100%;
    transition: all .25s ease;
    color: white;
}

.con-input input::placeholder {
    color: white;
}

.con-input textarea::placeholder {
    color: white;
}

.con-input input:focus {
    padding-left: 5px;
    padding-right: 0px;
}

.con-input input:focus~.bg {
    border: 2px solid #000;
}

.con-input input:focus~i {
    transform: translate(0, -8px);
    box-shadow: 0px, 8px, 20px, 0px rgba(0, 0, 0, .15);
}

.con-input i.icon {
    order: -1;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    z-index: 20;
    transition: all .25s ease;
}

.bg {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    pointer-events: none;
    border-radius: inherit;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: all .25s ease;
}

.formButton {
    margin-top: 25px;
    border-radius: 10px;
    background-color: white;
    color: #148D8D;
    border: 2px solid #148D8D;
    margin-left: 400px;
}

.formButton:hover {
    background-color: #148D8D;
    color: white;
    border: 2px solid transparent;
}

.verticalLine {
    margin-top: 70px;
    border-left: 4px solid #148D8D;
    height: 600px;
}

.verticalLine2 {
    margin-top: 70px;
    border-left: 4px solid #148D8D;
    height: 500px;
}

.container3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.container3 .display-4 {
    margin-left: 170px;
    margin-bottom: 60px;
}

.brand-color {
    color: #148D8D;
}

.container3 p {
    font-size: 30px;
    margin-left: 100px;
}


/*  
=============================================================================================================================================================
============================================================== Book PAGE ====================================================================================
=============================================================================================================================================================
*/

.bookContainer {
    margin-top: 80px;
}

.bookImage {
    height: 300px;
    width: auto;
    object-fit: cover;
}

.bookImage:hover {
    transform: scale(1.2);
}

.row .col-5 .card .card-body {
    position: relative;
}

.mb-5 .mb-3 .col-6 .card .card-header:hover {
    position: relative;
    cursor: pointer;
    color: #333333;
}

#reviews {
    display: inline;
    transition: all .25s ease;
}

#quotes {
    display: none;
    transition: all .25s ease;
}

.bookh3Title {
    font-family: 'Roboto Slab', serif;
}

.col-6 .addToReadBook {
    top: 12px;
    left: 10px;
    background-color: #717171;
    border-color: #717171;
}

.col-6 .addReview {
    top: 80px;
    left: 10px;
    bottom: auto;
}


/*  
=============================================================================================================================================================
================================================= Books and Authors PAGE ====================================================================================
=============================================================================================================================================================
*/

.pl-5 .bookh3Title {
    font-size: 1.3rem;
}

.booksContainer {
    margin-top: 125px;
}

.booksContainer .cardDeck {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.booksContainer .cardDeck .card {
    width: 180px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    padding: 0px;
    opacity: 1;
    position: relative;
}

.booksContainer .cardDeck .card button.addToLibrary {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 1px 6px;
    background-color: #148D8D;
    border-color: #148D8D;
    transition: all .5s ease;
}

.addToLibrary span {
    display: none;
}

.addToLibrary:hover span {
    display: inline;
}

.deletefromLibrary {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 1px 6px;
}

.deletefromLibrary:hover span {
    display: inline;
}

.deletefromLibrary:hover {
    z-index: 44;
}

.deletefromLibrary span {
    display: none;
}

.addToReadBook {
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 1px 6px;
}

.addToReadBook span {
    display: none;
}

.addToReadBook:hover span {
    display: inline;
}

.addToReadBook:hover {
    z-index: 44;
}

.booksContainer .cardDeck .card .card-body {
    padding: 1rem;
}

.booksContainer .cardDeck .card .card-body p:first-child {
    max-height: 50px;
    height: 50px;
    overflow: hidden;
}

.booksContainer .cardDeck .card img {
    height: 250px;
    width: 178px;
    object-fit: cover;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.booksContainer .cardDeck .card:hover {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
}

.ml-auto .btn-group .dropdown-menu {
    background-color: transparent;
    border: none;
    padding: 0px 0px;
}

.ml-auto .btn-group .dropdown-menu a {
    width: 200px;
    color: white;
}


/*  
=============================================================================================================================================================
============================================================== Author Page ==================================================================================
=============================================================================================================================================================
*/

.authorContainer {
    margin-top: 80px;
}

.authorBooksTable {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.authorBooksTable tbody tr td {
    vertical-align: inherit;
}

.authorBooksTable tbody tr td img {
    height: 100px;
    width: 70px;
    object-fit: cover;
}

#addBookFormId .flex-column {
    padding-bottom: 10px;
}


/*  
=============================================================================================================================================================
============================================================== Book Add ==================================================================================
=============================================================================================================================================================
*/

.con-input textarea {
    border: 0px;
    background-color: transparent;
    outline: none;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 8px;
    width: 100%;
    transition: all .25s ease;
    padding: 8px 2px;
}

#addBookFormId {
    width: max-content;
    border-radius: 4px;
    background-color: white;
    display: none;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}

.addBookForm p.display-4 {
    margin-left: 0px;
}

.addBookForm div.con-input {
    margin-left: 0px;
}

.addBookForm button {
    margin-left: 280px;
    margin-top: 15px;
}

.con-input textarea:focus {
    padding-left: 5px;
    padding-right: 0px;
}


/*  
=============================================================================================================================================================
============================================================== Categories Page ==================================================================================
=============================================================================================================================================================
*/

.categoriesContainer {
    margin-top: 125px;
    margin-bottom: 100px;
}

.categoriesContainer .cardDeck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categoriesContainer .cardDeck .card {
    height: 80px;
    width: 430px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
}

.categoriesContainer .cardDeck .card:hover {
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.75);
}

.categoriesContainer .cardDeck .card a {
    font-size: 1.6rem;
}


/*  
=============================================================================================================================================================
============================================================== Library Page ==================================================================================
=============================================================================================================================================================
*/

.addReview {
    position: absolute;
    bottom: 0px;
    left: 190px;
    z-index: 22;
    background-color: white;
    display: none;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.addReview .con-input {
    margin-left: 0px;
    width: 250px;
    border: none;
    outline: none;
}

.addReview .formButton {
    margin-left: 190px;
    margin-top: 10px;
}


/*  
=============================================================================================================================================================
============================================================== Library Page ==================================================================================
=============================================================================================================================================================
*/

.userContainer .row .col-7 {
    display: flex;
    flex-direction: column;
}

.userContainer .row .col-7 .btn-group {
    width: 70%;
    align-self: flex-end;
}

.booksPart .cardDeck {
    justify-content: center;
}

.quotePart,
.reviewPart,
.readBooks {
    display: none;
}


/*  
=============================================================================================================================================================
============================================================== Statistics Page ==================================================================================
=============================================================================================================================================================
*/

.statisticCategories,
.statisticAuthors {
    display: none;
}

#pieChart1 div:first-child {
    margin-left: auto;
    margin-right: auto;
}

#pieChart1 rect {
    fill: transparent!important;
}

#pieChart2 div:first-child {
    margin-left: auto;
    margin-right: auto;
}

#pieChart2 rect {
    fill: transparent!important;
}