{% extends "layout.html" %} {% block title %} Account Settinngs {% endblock %} 
{% block content %}

    <div class="container accountContainer row">

        <div class="leftbar col-4 mr-5">
            <div class="btn-group">
                <button id="firstForm">Change Email, Name or Username</button>
                <button id="secondForm">Change Password</button>
              </div>
        </div>

        <form name="infos" method="POST" class="col-sm-7 firstAccountForm">
            <h3 class="mb-4"></h3>
            <div class="form-group">
              <label>Name and Surname</label>
              <input name="name" type="name" class="form-control" value="{{ infos[2] }}">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input name="email" type="email" class="form-control" value="{{ infos[3] }}">
            </div>
            <div class="form-group">
                <label>Username</label>
                <input name="username" type="username" class="form-control" value="{{ infos[1] }}">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control" placeholder="Enter Password to Verify">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>

          <form action="" method="POST" class="col-sm-7 secondAccountForm">
                <h3 class="mb-4"></h3>
                <div class="hiddenform">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input name="oldpassword"  type="password" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input name="newpassword"  type="password" class="form-control accountPassword" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>New Password Again</label>
                        <input name="newpassword2"  type="password" class="form-control accountPassword" placeholder="">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="passwordChecbox">
                        <label> Show Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>            
          </form>

    </div>




{% endblock %}