{% extends "layout.html" %} {% block title %} Author {% endblock %} {% block content %}

<div class="container authorContainer">

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <p class="bookh3Title mb-0">Information about Author</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <img src="{{ author[3] }}" class="img-thumbnail mx-auto bookImage">
                    </div>
                    <div class="row mt-4">
                        <div class="col-4">
                            <b>Full Name</b>
                        </div>
                        <div class="col-8">
                            {{ author[1] }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <b>Summary</b>
                        </div>
                        <div class="col-8">
                            {{ author[2] }}
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <div class="col-8">
            <table class="table table-hover authorBooksTable">
                <thead class="thead-dark">
                    <tr>
                        <th>Picture</th>
                        <th>Book Title</th>
                        <th>Page Number</th>
                        <th>Rate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books  %}

                        <tr>
                            <td>
                                <a href="/books/{{ book[0] }}"><img src="{{ book[6] }}" alt=""></a>
                            </td>
                            <td><a href="/books/{{ book[0] }}">{{ book[1] }}</a></td>
                            <td>{{ book[2] }}</td>
                            <td>{{ book[5] }}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}