{% extends "layout.html" %} {% block title %} {{ book[1] }} {% endblock %} {% block content %}


<div class="container bookContainer">

    <div class="row">

        <div class="col-5 mb-5">
            <div class="card">
                <div class="card-header text-left">
                    <p class="bookh3Title mb-0">Informations of Books</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <img src="{{ book[6] }}" class="img-thumbnail mx-auto bookImage">
                    </div>
                    <div class="row mt-4">
                        <div class="col-4">
                            <b>Title</b>
                        </div>
                        <div class="col-8">
                            {{ book[1] }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <b>Author</b>
                        </div>
                        <div class="col-8">
                            <a href="/authors/{{ author[0] }}">{{ author[1] }}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <b>Category</b>
                        </div>
                        <div class="col-8">
                            {% for category in categories %}
                            <a href="/categories/{{ category[0] }}">{{ category[1] }} </a> {% endfor %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <b>Summary</b>
                        </div>
                        <div class="col-8">
                            {{ book[4] }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <b>Page Number</b>
                        </div>
                        <div class="col-8">
                            {{ book[2] }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <b>Rate</b>
                        </div>
                        <div class="col-8">
                            {{ book[5] }}/10
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-7 mb-5">
            <div class="row mb-3">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header text-center" id="reviewButton">
                            Reviews
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header text-center" id="quoteButton">
                            Quotes
                        </div>
                    </div>
                </div>
            </div>

            <div id="reviews" class="row">
                <h3 class="text-center mb-4 bookh3Title">Reviews</h3>
                <div class="col-10 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <a href="">Erhan Yaylalı</a> add a review.
                            <span class="text-muted float-right">
                                2 days ago
                            </span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                I refuse to write a review for one of the best books ever written. Asking a serious fantasy fan to write a review for Lord of the Rings is like asking a Christian to write a review for The Bible.
                            </p>
                        </div>
                        <div class="card-footer text-right p-2 pr-3">
                            Rate: 8/10
                        </div>
                    </div>
                </div>
                <div class="col-10 mx-auto mt-4">
                    <div class="card">
                        <div class="card-header">
                            <a href="">Erhan Yaylalı</a> add a quote.
                            <span class="text-muted float-right">
                                1 day ago
                            </span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                One of the great works of 20th century literature. I first tried this in high school, but was not able to get through on the first try. The second try, in my early 20s was the charm. Frodo goes on a quest that take in issues of morality, friendship, one's
                                responsibility towards others, facing one's fears, courage, danger. While depicting a global battle between good and evil, Tolkien puts a human (or hobbit-ish) face on that conflict. His themes are universal and his characters
                                are very accessible. Frodo, Sam and Gandalf are heroes for the ages, and Gollum is what can happen when normal is corrupted by darkness. This is my favorite series, and taken together with the succeeding pair my favorite
                                book of all time. I have read it at least five times, including aloud to my children. I hope to read it five more.
                            </p>
                        </div>
                        <div class="card-footer  text-right p-2 pr-3">
                            Rate: 10/10
                        </div>
                    </div>
                </div>
            </div>

            <div id="quotes" class="row">
                <h3 class="text-center mb-4 bookh3Title">Quotes</h3>
                <div class="col-10 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <a href="">Erhan Yaylalı</a> add a quote.
                            <span class="text-muted float-right">
                                2 days ago
                            </span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                “I wish it need not have happened in my time," said Frodo. "So do I," said Gandalf, "and so do all who live to see such times. But that is not for them to decide. All we have to decide is what to do with the time that is given us.”
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 mx-auto mt-4">
                    <div class="card">
                        <div class="card-header">
                            <a href="">Erhan Yaylalı</a> add a quote.
                            <span class="text-muted float-right">
                                1 day ago
                            </span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                “Deserves it! I daresay he does. Many that live deserve death. And some that die deserve life. Can you give it to them? Then do not be too eager to deal out death in judgement. For even the very wise cannot see all ends.”
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}