{% extends "layout.html" %} 

{% block title %} Books {% endblock %} 

{% block content %}

    <div class="container booksContainer mt-5">

        <div class="card mb-5">
            <div class="card-body pl-5 d-flex flex-row align-items-center">
                <div>
                    <p class="bookh3Title m-0">All Books</p>
                </div>
                <div class="ml-auto">
                    <div class="btn-group">
                        <a type="button" class="btn btn-info">A-Z by Book Name</a>
                        <a type="button" class="btn btn-info">A-Z by Author Name</a>
                        <a type="button" class="btn btn-info">Rate (High to Low)</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardDeck px-4">
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000070734-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="/books/1">Yüzüklerin Efendisi - III - Kralın Dönüşü</a></p>    
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.2/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000070718-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - II - İki Kule</a></p>
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.6/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000057163-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - I - Yüzük Kardeşliği</a></p>
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.5/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000070734-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - III - Kralın Dönüşü</a></p>    
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.2/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000070718-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - II - İki Kule</a></p>
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.6/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000057163-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - I - Yüzük Kardeşliği</a></p>
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.5/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000070734-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - III - Kralın Dönüşü</a></p>    
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.2/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000070718-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - II - İki Kule</a></p>
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.6/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000057163-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - I - Yüzük Kardeşliği</a></p>
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.5/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000070734-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - III - Kralın Dönüşü</a></p>    
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.2/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000070718-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - II - İki Kule</a></p>
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.6/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000057163-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - I - Yüzük Kardeşliği</a></p>
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.5/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000070734-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - III - Kralın Dönüşü</a></p>    
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.2/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000070718-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - II - İki Kule</a></p>
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.6/10</small></p>
                </div>
            </div>
            <div class="card">
                <a href=""><img class="card-img-top" src="https://i.dr.com.tr/cache/600x600-0/originals/0000000057163-1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p><a href="">Yüzüklerin Efendisi - I - Yüzük Kardeşliği</a></p>
                    <p class="card-text"><a href="">J. R. R. Tolkien</a></p>
                    <p class="card-text"><small class="text-muted">9.5/10</small></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}