{% extends "layout.html" %}
{% block title %} Categories {% endblock %}

{% block content %} 


    <div class="container categoriesContainer">

        <div class="card mb-5">
            <div class="card-body pl-5 d-flex flex-row align-items-center">
                <div>
                    <p class="bookh3Title m-0">Categories</p>
                </div>
            </div>
        </div>
    
         <div class="cardDeck px-4 mb-5 mx-auto">

            {% for category in categories %}

                <div class="card">
                    <a href="/categories/{{ category[0] }}">{{ category[1] }}</a>
                </div>
                
            {% endfor %}
         
         </div>




    </div>













{% endblock %}