{% extends "layout.html" %} 

{% block title %} Books {% endblock %}

{% block content %}


    <div class="container mt-5" style="width: 70%; max-width: 70%;">
    

         <form id="addreadlist" class="ml-4 mb-5 p-3" action="" method="post" name="addreadlist" autocomplete="off">

                    <div class="addBookForm">

                        <div class="row">

                            <div class="col-4 readlistform mt-5 pt-3 pr-5">

                                <h3 class="">Create a Readlist</h3>
                                <hr>
                                <div class="con-input">
                                    <input type="text" name="name" placeholder="Readlist Name" required="required">
                                </div>
                                <div class="con-input">
                                    <textarea class="text-white" rows="5" name="summary" placeholder="Readlist Summary"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Create</button> 
                            </div>

                            <div class="col-8 pl-3 mt-5">

                                <fieldset id="addReadList">      
                                    <legend>Select books to add Playlist</legend>      
                                    <table class="table table-hover authorBooksTable">
                                        <tbody>

                                            {% for book in books  %}

                                                <tr>
                                                    <td><input type="checkbox" name="book" value="{{book[0]}}-{{book[9]}}"></td>
                                                    <td><img width=30 height=40 src="{{ book[6] }}" alt=""></td>
                                                    <td>{{ book[1] }}</td>
                                                    <td>{{ book[10] }}</td>
                                                </tr>

                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>    
                                </fieldset>    
                            
                            </div>

                        </div>
                          
                    </div>
                </form>
    
    
    </div>



{% endblock  %}