{% extends "layout.html" %} {% block title %} Media Read {% endblock %} {% block content %}


<div class="container py-5">

    <div class="row pt-5">

        <div class="col-3 profileInfo">
            <a href="" class="titleName">Erhan Yaylalı</a>
            <ul class="mt-5 profileList">
                <li><a href="">My Books</a></li>
                <li><a href="">My Quotes</a></li>
                <li><a href="">My Reviews</a></li>
                <li><a href="">Read Books</a></li>
                <li><a href="">Statistics</a></li>
            </ul>
        </div>
        <div class="col-8 ml-auto">
            <div class="card mb-4">
                <div class="card-header">
                    <a href="">Erhan Yaylalı</a> add a review
                    <span class="text-muted float-right">
                                2 days ago
                            </span>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        I refuse to write a review for one of the best books ever written. Asking a serious fantasy fan to write a review for Lord of the Rings is like asking a Christian to write a review for The Bible.
                    </p>
                </div>
                <div class="card-footer py-2 px-3">
                    <cite title="Source Title"><a href="">Yüzüklerin Efendisi I - Yüzük Kardeşliği </a></cite>
                    <cite title="Source Title">by <a href="">  J. R. R. Tolkien</a></cite>
                    <span class="float-right">Rate: 8/10</span>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <a href="">Erhan Yaylalı</a> add a qoute
                    <span class="text-muted float-right">
                                2 days ago
                            </span>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        I refuse to write a review for one of the best books ever written. Asking a serious fantasy fan to write a review for Lord of the Rings is like asking a Christian to write a review for The Bible.
                    </p>
                </div>
                <div class="card-footer py-2 px-3">
                    <cite title="Source Title"><a href="">Yüzüklerin Efendisi I - Yüzük Kardeşliği </a></cite>
                    <cite title="Source Title">by <a href="">  J. R. R. Tolkien</a></cite>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <a href="">Erhan Yaylalı</a> add a review
                    <span class="text-muted float-right">
                                2 days ago
                            </span>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        I refuse to write a review for one of the best books ever written. Asking a serious fantasy fan to write a review for Lord of the Rings is like asking a Christian to write a review for The Bible.
                    </p>
                </div>
                <div class="card-footer py-2 px-3">
                    <cite title="Source Title"><a href="">Yüzüklerin Efendisi I - Yüzük Kardeşliği </a></cite>
                    <cite title="Source Title">by <a href="">  J. R. R. Tolkien</a></cite>
                    <span class="float-right">Rate: 8/10</span>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <a href="">Erhan Yaylalı</a> add a qoute
                    <span class="text-muted float-right">
                                2 days ago
                            </span>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        I refuse to write a review for one of the best books ever written. Asking a serious fantasy fan to write a review for Lord of the Rings is like asking a Christian to write a review for The Bible.
                    </p>
                </div>
                <div class="card-footer py-2 px-3">
                    <cite title="Source Title"><a href="">Yüzüklerin Efendisi I - Yüzük Kardeşliği </a></cite>
                    <cite title="Source Title">by <a href="">  J. R. R. Tolkien</a></cite>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <a href="">Erhan Yaylalı</a> add a review
                    <span class="text-muted float-right">
                                2 days ago
                            </span>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        I refuse to write a review for one of the best books ever written. Asking a serious fantasy fan to write a review for Lord of the Rings is like asking a Christian to write a review for The Bible.
                    </p>
                </div>
                <div class="card-footer py-2 px-3">
                    <cite title="Source Title"><a href="">Yüzüklerin Efendisi I - Yüzük Kardeşliği </a></cite>
                    <cite title="Source Title">by <a href="">  J. R. R. Tolkien</a></cite>
                    <span class="float-right">Rate: 8/10</span>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <a href="">Erhan Yaylalı</a> add a qoute
                    <span class="text-muted float-right">
                                2 days ago
                            </span>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        I refuse to write a review for one of the best books ever written. Asking a serious fantasy fan to write a review for Lord of the Rings is like asking a Christian to write a review for The Bible.
                    </p>
                </div>
                <div class="card-footer py-2 px-3">
                    <cite title="Source Title"><a href="">Yüzüklerin Efendisi I - Yüzük Kardeşliği </a></cite>
                    <cite title="Source Title">by <a href="">  J. R. R. Tolkien</a></cite>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <a href="">Erhan Yaylalı</a> add a review
                    <span class="text-muted float-right">
                                2 days ago
                            </span>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        I refuse to write a review for one of the best books ever written. Asking a serious fantasy fan to write a review for Lord of the Rings is like asking a Christian to write a review for The Bible.
                    </p>
                </div>
                <div class="card-footer py-2 px-3">
                    <cite title="Source Title"><a href="">Yüzüklerin Efendisi I - Yüzük Kardeşliği </a></cite>
                    <cite title="Source Title">by <a href="">  J. R. R. Tolkien</a></cite>
                    <span class="float-right">Rate: 8/10</span>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <a href="">Erhan Yaylalı</a> add a qoute
                    <span class="text-muted float-right">
                                2 days ago
                            </span>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        I refuse to write a review for one of the best books ever written. Asking a serious fantasy fan to write a review for Lord of the Rings is like asking a Christian to write a review for The Bible.
                    </p>
                </div>
                <div class="card-footer py-2 px-3">
                    <cite title="Source Title"><a href="">Yüzüklerin Efendisi I - Yüzük Kardeşliği </a></cite>
                    <cite title="Source Title">by <a href="">  J. R. R. Tolkien</a></cite>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}