{% extends "layout.html" %} {% block title %} Media Read {% endblock %} {% block content %}


<div class="container py-5">

    <div class="row pt-2">

        
        <div class="col-3 profileInfo">
            <div class="card cardIndexpt-1 mb-5">
                <h4 class="text-center mt-2 mb-4"><a href="/trends">Trends</a></h4>
                <div class="trendPart">
                    <div class="mx-3">
                        <p><b>Book of the Month #1</b></p>
                        <a href="/books/{{book[0]}}"><i>{{book[1]}}</i></a>
                    </div>
                    <div class="mx-3 mt-3 mb-0">
                        <p><b>Author of the Month #1</b></p>
                        <a href="/authors/{{auth[0]}}"><i>{{auth[1]}}</i></a>
                    </div>
                </div>
                <small class="text-right mr-2 mb-1"><a href="/trends">Click for Other Trends</a></small>
            </div>

            {% if session["logged_in"] %}
            
            <div class="profCard pl-1">
                <ul class="mt-4 profileList">

                    <li><a href="users/{{ userInfo[0] }}/myLibrary">My Library</a></li>
                    <li><a href="users/{{ userInfo[0] }}/readBooks">Read Books</a></li>
                    <li><a href="users/{{ userInfo[0] }}/readlists">My Read Lists</a></li>
                    <li><a href="users/{{ userInfo[0] }}/statistics">Statistics</a></li>
                    <li><a href="users/{{ userInfo[0] }}/saved">Saved</a></li>
                
                </ul>
            </div>
            <div class="notificationdiv">
                <ul class="notificationInDiv">
                </ul>
            </div>
            <div class="notification">
                <div class="notification2">
                    <i class="far fa-bell"></i>
                </div>
            </div>
            <div class="showprofileicon2">
                <div class="showprofileicon">
                    <a href="users/{{ userInfo[0] }}" class="display-4 ml-2 mt-2 bottom380" style="font-size: 2.3rem;">{{ userInfo[1] }}</a>
                    <i class="fas fa-chevron-circle-up"></i>
                </div>
            </div>
            {% else %} {% endif %}
            
        </div>
        
        <div class="col-8 ml-auto cardRenkleri2 cardRenkleri">
            
            {% if "logged_in" in session %}

                {% if session["logged_in"] %}

                    {% for i in range(length)  %}

                        {% if ayr[i] == 0 %}
                        
                            <div class="card cardIndex mb-4">
                                <div class="card-header headerIndex">
                                    <a href="/users/{{ final[i][3] }}"><b>{{ final[i][2] }}</b></a> add a review
                                    <span class="float-right">
                                                {{ final[i][0] }}
                                    </span>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ final[i][1] }}    
                                    </p>
                                </div>
                                <div class="py-2 px-3 indexFooter">
                                    <div class="left-footer">
                                        <div class="myshape"></div>
                                        <div class="shapetext">
                                            <cite title="Source Title"><a href="/books/{{ final[i][4] }}">{{ final[i][5] }}</a></cite>
                                            <cite title="Source Title">by <a href="/authors/{{ final[i][6] }}"><b>{{ final[i][8] }}</b></a></cite>
                                        </div>
                                    </div>
                                    <span class="cardRate">Rate: {{ final[i][7] }}</span>
                                </div>
                            </div>

                        {% else %}

                            <div class="card cardIndex mb-4">
                                <div class="card-header headerIndex">
                                    <a href="/users/{{ final[i][3] }}"><b>{{ final[i][2] }}</b></a> add a qoute
                                    <span class="float-right">
                                                {{ final[i][0] }}
                                    </span>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ final[i][1] }}   
                                    </p>
                                </div>
                                <div class="py-2 px-3 indexFooter">
                                    <div class="left-footer">
                                        <div class="myshape"></div>
                                        <div class="shapetext">
                                            <cite title="Source Title"><a href="/books/{{ final[i][4] }}">{{ final[i][5] }}</a></cite>
                                            <cite title="Source Title">by <a href="/authors/{{ final[i][6] }}"><b>{{ final[i][7] }}</b></a></cite>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    
                    {% endfor %}
                
                {% else %}
                {% endif %}
            
            {% else %}
            {% endif %}
            
        </div>
    </div>
</div>

{% endblock %}