<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container justify-content-between">
        <div class="part1 parts">
            <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" width="50" height="30"></a>
            <a class="navbar-brand ml-3" href="/">Media Read</a>
        </div>
        <div class="part2 parts">
            <div class="searchDiv parts">
                <input class="searchInput px-3 py-1 mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="searchButton" type="submit">Search</button>
            </div>
        </div>
        <div class="part3 parts align-items-center">
            <a class="nav-link " href="/books">Books</a>
            <a class="nav-link " href="/authors">Authors</a>

            {% if session["logged_in"] %}
                <div class="profileBox">
                    <div class="d-flex align-items-center">
                        <a class="profileText mr-3">
                            Name
                        </a>
                        <i class="fas fa-caret-down" id="navbarCollapse"></i>
                        <div class="profileExtension">
                            <ul class="">
                                <li><a href="">My Profile</a></li>
                                <li><a href="">My Library</a></li>
                                <li><a href="">My Quotes</a></li>
                                <li><a href="">Read Books</a></li>
                                <li><a href="">Statistics</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                <a class="nav-link " href="/login">Login</a>
                <a class="nav-link " href="/register">Register</a>
            {% endif %}
            
        </div>
    </div>
</nav>