{% extends "layout.html" %} {% block title %} Read Lists {% endblock %} {% block content %}


<div class="container readlistContainer">

    <div class="card mb-5">
        <div class="card-body pl-5 d-flex flex-row align-items-center">
            <div>
                <p class="bookh3Title m-0">My Read Lists</p>
            </div>
            <a href="createreadlist" class="ml-auto btn btn-sm btn-primary">Create a New Readlist</a>
        </div>
    </div>

    <div class="cardDeck px-4 mb-5 mx-auto">


        <div class="readlistbody" id="accordionExample">

            {% for list in lists %}

            <div class="card mb-3">
                <div class="card-header">
                    <h2 class="mb-0">
                        <a href="readlists/{{ list[4] }}" class="btn btn-link ml-3 color-black hover-orange">
                                {{ list[5] }}
                        </a>
                    </h2>
                    <form action="" method="post" class="p-0">
                        <button name="readlistId" value="{{ list[4] }}" type="submit" class="btn">
                            <i class="fas fa-times"></i>
                        </button>
                    </form>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}