{% extends "layout.html" %} {% block title %} Read List {% endblock %} {% block content %}


<div class="container readlistContainer">

    <div class="card mb-5">
        <div class="card-body pl-5 d-flex flex-row align-items-center">
            <div>
                <p class="bookh3Title m-0">{{ books[0][5] }} ({{ length }} Books)</p>
            </div>
            <a href="/books" class="ml-auto btn btn-sm btn-primary">Add Book</a>
        </div>
    </div>

    <div class="cardDeck px-4 mb-5 mx-auto">


        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="card-header py-3" id="headingTwo">
                    <h5 class="mb-0 ml-4">
                    </h5>
                </div>
                <div class="card-body">

                    <table class="table table-hover authorBooksTable mb-0">
                        <tbody>

                            {% for book in books %}

                            <tr>
                                <td>
                                    <a href="/books/{{ book[7] }}"><img src="{{ book[13] }}" alt=""></a>
                                </td>
                                <td><a href="/books/{{ book[7] }}">{{ book[8] }}</a></td>
                                <td> Page: {{ book[9] }}</td>
                                <td> Rate: {{ book[12] }} </td>
                                <td><a href="/authors/{{ book[16] }}">{{ book[17] }}</a></td>
                                <td>
                                    <form action="" method="post">
                                        <button name="bookId" value="{{ book[7] }}" type="submit" class="btn">
                                                <i class="fas fa-times"></i>
                                            </button>
                                    </form>
                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>


        </div>

    </div>

</div>



{% endblock %}