{% extends "layout.html" %}
{% block title %}
    Statistics
{% endblock  %}   
{% block content %}

    <div class="container mt-5">

        <div class="card mb-5">
            <div class="card-body pl-5 d-flex flex-row justify-content-between align-items-center">

                <div>
                    <p class="bookh3Title m-0">Statistics</p>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button"  id="ratedBooks" class="btn btn-info">Highest Rated Books</button>
                    <button type="button" onclick="showCat()" id="mostAuthors" class="btn btn-info">Most Read Categories</button>
                    <button type="button" onclick="showAuth()" id="mostCategories" class="btn btn-info">Most Read Authors</button>
                </div>
            </div>
        </div>

        <div class="row">
        
            <div class="col-3">

                <p class="display-4 ml-4 mt-3"> {{ ratedBooks[0][2] }}</p>
                <table class="table table-hover mt-5">
                    <tbody>
                        <tr>
                            <td><b>Total Read Book:</b></td>
                            <td> {{ bookpage }} </td>
                        </tr>
                        <tr>
                            <td><b>Total Read Page:</b></td>
                            <td> {{ sum1 }} </td>
                        </tr>
                        <tr>
                            <td><b>Average Read Time:</b></td>
                            <td> {{ 2 * sum1 }} min </td>
                        </tr>
                    </tbody>
                </table>


            </div>

            <div class="col-8 statisticParts">
            
                <div class="statisticRate my-5">

                            <h3 class="ml-5 mb-5">Highest Rated Books by You</h3>
                            <table class="ml-5 table table-striped table-hover authorBooksTable">

                                <thead class="bg-info text-white">
                                    <tr>
                                        <th>Book Cover</th>
                                        <th>Book Title</th>
                                        <th>Page</th>
                                        <th>Rate</th>
                                        <th>Author</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for book in ratedBooks %}

                                        <tr>
                                            <td>
                                                <a href="/books/{{ book[12] }}"><img src="{{ book[18] }}" alt=""></a>
                                            </td>
                                            <td><a href="/books/{{ book[12] }}">{{ book[13] }}</a></td>
                                            <td>{{ book[14] }}</td>
                                            <td>{{ book[7] }}</td>
                                            <td><a href="/authors/{{ book[21] }}">{{ book[22] }}</a></td>
                                        </tr>

                                    {% endfor %}
                                </tbody>

                            </table>

                </div>
            
                <div class="statisticCategories my-5">
                    <h3 class="ml-5 mt-5">Most Read Categories by You</h3>
                    <table class="table table-hover my-5 ml-5">
                        <thead class="bg-info text-white">
                            <tr>
                                <th>Category Name</th>
                                <th>Number of Read Book</th>
                            </tr>
                        </thead>
                        <tbody id="catTable">

                            {% if categories[length - 1][2] == 0%}
                                Hiç Kitap Yok
                            {% else %}
                                {% for category in categories %}
                                    {% if category[2] == 0 %}
                                    
                                    {% else %}

                                        <tr>
                                        <td><a href="/categories/{{ category[0] }}"> {{ category[1] }} </a></td>
                                        <td> {{ category[2] }}</td>
                                        </tr>

                                    {% endif %}

                                {% endfor %}
                            {% endif %}
                                
                        </tbody>
                    </table>

                    <div id="pieChart1" style="width: 900px; height: 500px;">
                    </div>
                </div>

                <div class="statisticAuthors my-5">
                    <h3 class="ml-5 mt-5">Most Read Authors by You</h3>
                    <table class="table table-hover my-5 ml-5">
                        <thead class="bg-info text-white">
                            <tr>
                                <th>Author Name</th>
                                <th>Number of Read Book</th>
                            </tr>
                        </thead>
                        <tbody id="autTable">

                            {% if authors[0][2] == 0%}
                                Hiç Kitap Yok
                            {% else %}
                                {% for author in authors %}

                                    {% if author[2] != 0 %}

                                        <tr>
                                            <td><a href="/authors/{{ author[1] }}"> {{ author[0] }} </a></td>
                                            <td> {{ author[2] }} </td>
                                        </tr>

                                    {% else %}
                                    {% endif %}
                                        
                                {% endfor %}
                            {% endif %}
                                
                        </tbody>
                    </table>
                    <div id="pieChart2" style="width: 900px; height: 500px;">
                    </div>
                </div>

            </div>

        </div>
    
    
    </div>

{% endblock  %}

{% block javascript %}

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(showCat);
                google.charts.setOnLoadCallback(showAuth);

                function showCat(){

                    var tableHead = document.getElementById("catTable");    
                    var length = tableHead.childElementCount;
                    var array = [["Categories","Number of Book"],];
                    var childrens = tableHead.children;

                    for (let index = 0; index < length; index++) {
                        
                        array2 = [];
                        cat = childrens[index].firstElementChild.firstElementChild.textContent;
                        val = childrens[index].firstElementChild.nextElementSibling.textContent;
                        array2.push(cat.toString());
                        array2.push(parseInt(val));
                        array.push(array2);                               
                    }
                    
                    var options = {
                        title :'Category per Read Book', 
                        width:800, 
                        height:600, 
                        is3D: true, 
                        sliceVisibilityThreshold: .05,
                    };  

                    var data = google.visualization.arrayToDataTable(array);                            
                    var chart = new google.visualization.PieChart(document.getElementById('pieChart1'));
                    chart.draw(data, options);
                    
                };

                function showAuth(){
                    
                    var tableHead2 = document.getElementById("autTable");
                    var length2 = tableHead2.childElementCount;
                    var array3 = [["Authors","Number of Book"],];
                    var childrens2 = tableHead2.children;
                            
                    for (let index = 0; index < length2; index++) {
                        
                        array4 = [];
                        cat = childrens2[index].firstElementChild.firstElementChild.textContent;
                        val = childrens2[index].firstElementChild.nextElementSibling.textContent;
                        array4.push(cat.toString());
                        array4.push(parseInt(val));
                        array3.push(array4);                               
                    }

                    var options = {
                        title :'Author per Read Book',
                        width:800, 
                        height:600, 
                        is3D: true, 
                        sliceVisibilityThreshold: .05,
                    };

                    var data = google.visualization.arrayToDataTable(array3);
                    var chart = new google.visualization.PieChart(document.getElementById('pieChart2'));
                    chart.draw(data, options);

                };
                        

        
        </script>


{% endblock %}